[2022-04-12 17:46] jtbandes commented on #729
I'm not aware of any special support for this in rosbridge. The error message you're getting looks like it is trying to parse the .idl as if it were a .msg file. Do you have a stack trace for the error? And is there a strong reason that these messages are written as custom .idl files rather than custom .msg?

[2022-04-12 20:05] jhurliman commented on #729
There are no plans to support custom `.idl` files that do not have accompanying `.msg` ROS message definitions in rosbridge.

[2022-04-12 20:54] StahlTim commented on #729
Okay, thanks for the info!

In this case we can probably close this issue. However, it might be helpful to include this info in the Readme/Docs (unless it already exists and I haven't found it).

[2022-04-14 18:30] jackiescanlon opened #732 "rosapi service call fails sporadically"
**Description**
My team has been getting a few stray errors from rosbridge websocket:

[code]

Impact is low so far - other than seeing error messages, performance of our system doesn't seem to be affected in any way.

- Library Version: v0.11.13
- ROS Version: Noetic (ROS 1)
- Platform / OS: Ubuntu 20.04
Of note: I see that the latest version of `rosbridge_server` is v1.1.2. However, the apt pack

[2022-04-15 00:44] #641 closed, assigned to nobody

[2022-04-15 00:44] #573 closed, assigned to nobody

[2022-04-18 04:43] ussefdesouky opened #733 "Creating a 2d map using the ros2djs"
Hi, I'm trying to build a map through a web page in ROS2.

When I run the turtlebot3 pkg and run any mapping pkg (cartographer or slam_toolbox) achieving a web view of the created map, this error pops up!
[https://answers.ros.org/upfiles/16468351852897503.png](url)

[2022-04-25 15:18] FelixvdDonk commented on #697
Any new info on this subject? I'm curious how to best utilize this functionality

[2022-04-29 04:21] JunlingQin opened #736 "ros2 rosbridge_websocket, if use param --address, there will be errors"
**Description**

- Library Version:
- ROS Version: ros2
- Platform / OS: Ubuntu 20.04.4

**Steps To Reproduce**

Traceback (most recent call last):
  File "/opt/ros/galactic/lib/rosbridge_server/rosbridge_websocket", line 335, in <module>
    main()
  File "/opt/ros/galactic/lib/rosbridge_server/rosbridge_websocket", line 320, in main
    node = RosbridgeWebsocketNode()
  File "/opt/ros/galactic/l

[2022-04-29 08:03] bochen87 commented on #354
hello.
I noticed that somehow this behavior does not occur anymore. I put some debugging prints and noticed the time values get overridden later on again when it loops through the details of the header message, as it takes the values from the `msg` object, but the update of the timestamp occurs inside the header message:
[code]

[2022-05-08 06:12] chenjunnn opened #738 "[ROS2] rosbridge_server launch failed"
**Description**

- Library Version: 1.1.2-1focal.20220430.151453
- ROS Version: Galactic
- Platform / OS: Jetson Nano / Using Docker image `ros:galactic-ros-base`

**Steps To Reproduce**

    ros2 launch rosbridge_server rosbridge_websocket_launch.xml

**Actual Behavior**

[code]

[2022-05-09 20:24] brennand commented on #738
I also had this problem, via `sudo apt-get install ros-galactic-rosbridge-server.`  .  I'm using the ROS2 docker image: `FROM ros:galactic-ros-base-focal`  (which is the lastest)

If I clone the git repo into my workspace and building, the error goes away.

[2022-05-10 00:46] #662 closed, assigned to nobody

[2022-05-13 14:48] zflat opened #744 "Port #426 Autobahn WebSocket server from ros1 to ros2"
**Description**

The issue described in https://github.com/RobotWebTools/rosbridge_suite/issues/425 and fixed in https://github.com/RobotWebTools/rosbridge_suite/pull/426 still persists in ros2 because the fix was not ported to ros2. There was a request made in https://github.com/RobotWebTools/rosbridge_suite/pull/426#issuecomment-532471720 but I do not see any issue tracking the progress of porti

[2022-05-16 06:47] chenjunnn commented on #738
According to https://github.com/ros2/rosidl/issues/680#issuecomment-1125277312, `apt dist-upgrade` can fix this issue

[2022-05-16 06:47] #738 closed, assigned to nobody

[2022-05-17 05:44] p0rys commented on #744
Hey @zflat,
i had excatly the same problems that you mentioned. I improved it a little bit with #741 but it seems that there are still some unsolved problems. On top i had a mysterious bug with CycloneDDS on Foxy which caused a segmentation fault on destroy_subscription(). When switching to FastRTPS the bug you descripted occurs less often for me.

All in all: I would totally support the switch to

[2022-05-17 17:35] jtbandes commented on #744
I think a good start for this task would be to create an integration test that rapidly creates new clients to demonstrate the problem. If the issue happens fairly reliably then we should be able to reproduce it in a test.

[2022-05-18 13:05] zflat commented on #744
@jtbandes I just opened #745 to show a test that reproduces this issue. I chose the rate and message size and number of subscribers as a starting point that showed the issue on my machine. A smaller message size, fewer subscribers and slower rate may still show the error but I did not try to see where the limit was on my machine.

I don't know if we want to actually keep the test in #745 but it at

[2022-05-23 01:30] TheEppicJR commented on #725
The beta of 22.04 for GH actions is available now. https://github.com/actions/virtual-environments/issues/5490 Will this work or do yall intend to wait for the stable release?

[2022-05-23 18:58] #725 closed, assigned to nobody

[2022-05-26 19:03] ablakey opened #748 "ROS1: Authentication partially implemented?"
I'm exploring the auth story for RosBridge and am curious if the `authenticate` param exposed in `rosbridge_websocket.launch` is expected to enable a working feature?

I see some code for handling auth, but RosBridge complains that `auth` is not a valid `op`. Indeed, I see no `auth.py` in `capabilities`.

Is this a bug or just an incomplete feature?  Is there any workflow where setting `authentica

[2022-05-26 20:17] ablakey commented on #748
Ah I think I understand where I went wrong:

An error is happening in this try block, but it just passes it through so I get an unrelated error for auth, which sent me in the wrong direction: https://github.com/RobotWebTools/rosbridge_suite/blob/ros1/rosbridge_server/src/rosbridge_server/autobahn_websocket.py#L225

I will close this and keep exploring. If I find there is an issue, I'll re-open.

F

[2022-05-26 20:17] #748 closed, assigned to nobody

[2022-06-01 03:21] CCCCe commented on #733
Have you addressed that? I got same trouble in recent days.

[2022-06-01 11:42] ussefdesouky commented on #733
Yes, I have installed ROS1 (Noetic) and installed the ros1 bridge pkg, I think you can use ros2_web_bridge.

[2022-06-01 17:51] #733 closed, assigned to nobody

[2022-06-02 08:22] vusdo opened #750 "If you disconnect from the Wi-Fi network and reconnect, the subscription will not work after a while."
**Description**
If you disconnect from the Wi-Fi network and reconnect, the subscription will not work after a while.

- Library Version: 0.11.13
- ROS Version: melodic
- Platform / OS: Ubuntu 18.04

**Steps To Reproduce**

1. Write publisher and subscription code in your browser.
2. Subscription data output
3. Disconnect from network
4. Reconnect the network
5. Subscription data does not come in

[2022-06-08 12:40] btertoolen opened #753 "Websocket connection that doesn't subscribe to topics doesn't seem to get cleaned up properly"
**Description**
We have a phone app connecting to our robot using 2 websockets, one websocket for all communication with ros topics, and one websocket for executing service calls.

Whenever the phone reconnects only one websocket connection ends up getting closed, meaning that for everytime the phone reconnects an extra websocket connection stays open. After a while this causes a lot of unneeded c

[2022-06-15 22:14] ztyree42 opened #755 "deb package not installing dependencies"
**Description**

- Library Version:
- ROS Version:
- Platform / OS:

**Steps To Reproduce**

**Expected Behavior**
`sudo apt-get install ros-noetic-rosbridge-suite` and `roslaunch rosbridge_server rosbridge_websocket.launch` should run without error

**Actual Behavior**
rosbridge_server fails with tons of missing dependencies

[2022-06-15 22:31] DaAwesomeP opened #756 "Listing Params Fails"
**Description**
Listing params crashes.

- Library Version: `ros-galactic-rosbridge-suite/now 1.2.0-1focal.20220520.221227 arm64`
- ROS Version: `ros-galactic-ros-core/now 0.9.3-2focal.20220430.175608 arm64`
- Platform / OS: Docker (see Dockerfile below)

**Steps To Reproduce**

1. Run from Dockerfile below with host networking enabled.
2. Listing topics works fine (tested with `roslibpy`) and sho

[2022-06-17 00:48] #673 closed, assigned to nobody

[2022-06-22 07:08] Interpause opened #757 "[Feature Request] WebRTC via Python aiortc package"
WebRTC is more efficient than mjpeg video streams and works well for low-bandwidth situations due to its ability to dynamically adjust video quality. Furthermore, WebRTC's DataChannel has a lower latency than Websockets as it uses UDP instead of TCP.

In my own project, I have successfully used [`aiortc`](https://github.com/aiortc/aiortc) for WebRTC. I used a [Python implementation of Socket.io](h

[2022-06-27 10:43] Alqio opened #758 "Not working with multiple clients, KeyError and tornado.websocket.WebSocketClosedError"
**Description**
When connecting with two clients, rosbridge cannot maintain connection to both clients at once.

- Library Version: branch ros2, commit 4bcf816726f0402675d54695674ea77fffc2f785
- ROS Version: galactic
- Platform / OS: Ubuntu 20.04, kernel 5.14.0-1042-oem, x86_64. Running rosbridge on docker with image osrf/ros:galactic-desktop. Using JavaScript ROSLIB 1.3.0

**Steps To Reproduce**

[2022-06-27 18:54] DaAwesomeP commented on #756
Really hitting a roadblock with this. Anything else I can do to debug?

[2022-06-27 19:46] DaAwesomeP commented on #552
I am experiencing this issue with `irobot_create_msgs`. It is not possible to run any actions.

[2022-06-27 19:50] DaAwesomeP commented on #697
Starting to use/find ROS2-only hardware driven by actions, and this has become a blocking issue. Is there anything that can be done to kickstart this?

[2022-06-30 16:15] defunctzombie commented on #757
We don't have the bandwidth to add webrtc transports right now but if you are keen in doing this we can consider architectures and PR if you do get around to it.

[2022-06-30 16:15] #757 closed, assigned to nobody

[2022-07-01 09:58] Interpause commented on #757
yup okay. Actually my plan is to use rosbridge for webrtc signaling and sending data to the frontend. While websockets are probably sufficient, I will experiment with datachannels when I do have time.

[2022-07-03 00:55] #476 closed

[2022-07-03 03:54] Interpause commented on #727
I got two errors while trying to set `topics_glob="[*]"` that might reveal what is going on:

[code]

I then tried `["*"]`:

[code]

Finally, using `\[*\]` worked. From above errors, it seems `roslaunch` attempts to use `yaml` to parse `topic_glob`. Afterwards, `rosapi` uses a rather dubious `topics_glob[1:-1]` to remove the square brackets to split out the paths. I think this should be fixed.

In

[2022-07-06 00:57] #571 closed, assigned to nobody

[2022-07-07 00:57] #688 closed, assigned to nobody

[2022-07-08 10:28] kis-balazs opened #760 "rosbridge not subscribing to every/any topics"
Running ROS noetic + installed rosbridge suite: apt-get install ros-noetic-rosbridge-suite in an **arm64v8/ros:noetic container**.

## Expected Behavior
1. Start rosbridge: roslaunch rosbridge_server rosbridge_websocket.launch
2. rosbridge to subscribe to ros topics

## Actual Behavior
rosbridge doesn't subscribe to any (there is a second environment in which it subscribes to a small subset of the

[2022-07-11 15:03] #760 closed, assigned to nobody

[2022-07-12 15:23] zflat commented on #744
@jtbandes I have tested the changes in https://github.com/RobotWebTools/rosbridge_suite/pull/741 and when I am on that branch I am unable to reproduce the issue I have observed. I think that in addition to mergin in the fixes from https://github.com/RobotWebTools/rosbridge_suite/pull/741, we should still consider converting to AutoBahn Websocket. The reason is because the bug fix in #741 was prett

[2022-07-12 19:22] kis-balazs commented on #760
Issue closed because of misunderstanding. Found bug in topic reader code, and rosbridge streames data if requester entity proceeds to read successfully.

[2022-07-13 18:56] zflat commented on #758
@Alqio Could you try the branch in https://github.com/RobotWebTools/rosbridge_suite/pull/741? When you refresh it may be the same issue I have seen in https://github.com/RobotWebTools/rosbridge_suite/issues/744.

[2022-07-15 06:09] rscova opened #762 "rosbridge_server bug with NAT ports mapping"
**Description**
When you start the server in your IP address and you want to access the topics through your router's IP public address you need to map the ports (I did that using NAT). But the only way that this work is when you map the ports to match, I meant:
Ports: 9090 -> 45666 (Bad behaviour, rosbridge_server doesn't recognize the connection)
Ports: 45666 -> 45666 (Good behaviour, rosbridge_s

[2022-07-15 16:12] Coimbra1984 opened #763 "Exception calling subscribe callback: '>' not supported between instances of 'int' and 'str'"
**Description**

- Library Version: 0.11.14
- ROS Version: noetic
- Platform / OS: jetson javier nx / ubuntu 20.04

**Steps To Reproduce**
Install rosbridge server with
`sudo apt-get install ros-noetic-rosbridge-server`
python3-tornado is installed as a dependency

**Actual Behavior**
I use python roslibpy as a client library on my desktop machine.
I can connect to the ROS bridge (port 8080), but

[2022-07-15 16:33] Coimbra1984 commented on #763
I can close my own defect.
The problem was this line:
https://github.com/RobotWebTools/rosbridge_suite/blob/4bcf816726f0402675d54695674ea77fffc2f785/rosbridge_library/src/rosbridge_library/protocol.py#L255

self.fragment_size was "none" meaning a string with the content "none", the root cause was a misconfiguration in the launch file:
`<param name="max_message_size" value="none"/>`
value="none" mu

[2022-07-15 16:33] #763 closed, assigned to nobody

[2022-07-16 05:23] barulicm opened #764 "Message conversion fails to convert list of integers to float32[]"
**Description**
When trying to populate a ROS message that includes a float32[] field, if the JSON data for that field is a list of integer values, the conversion raises an error instead of converting the integer values to floats.

This can become problematic when the library on the JS side decides to truncate float values, such as with this:
[code]

- Library Version: 1.2.0
- ROS Version: Humble

[2022-07-17 00:57] #508 closed, assigned to nobody

[2022-07-20 09:16] MomoHsieh opened #765 "rosbridge websocket slow down and hang"
**Description**
Using rosbridge websocket slow down and hang when web opened about half an hour, but after re-launch the node and refresh website it will turn to normally.

- Library Version: 0.11.13
- ROS Version: noetic
- Platform / OS: Arm64 / Ubuntu (docker)  with Nvidia Jetson NX/AGX

**Steps To Reproduce**

We use websocket to send images, pointcloud, text... etc. to web, and it seems work w

[2022-07-21 12:33] Moise2901 opened #766 "Rosbridge_suite not finding package after migration from ros2-web-bridge"
**Description**
Hello everyone,

I'm having trouble getting rosbridge_suite to work after migrating from ros2-web-bridge. I currently have a system where there are ROS nodes running on a local laptop and on another device on the same local network. We have setup DDS and have confirmed that both machines can see the other one's nodes and subscribe to either one's topics. There is also a web UI runn

[2022-07-25 06:35] Alqio commented on #758
@zflat Awesome, https://github.com/RobotWebTools/rosbridge_suite/pull/741 seems to fix this issue!

[2022-07-25 20:25] zflat commented on #766
It sounds like you need to source the `setup.bash` file for the workspace that contains your custom `my_package` messages before you run the `rosbridge_server`. This is because the python interpreter needs to be able to find your custom messages.

[2022-07-25 20:44] Moise2901 commented on #766
Thanks for your answer @zflat !

I forgot to mention this is already done before running the bridge on the local laptop. However, we are sourcing the `setup.sh` file instead of  `setup.bash`, might this be an issue? What confuses me is that when we were running with ros2-web-bridge, this issue wasn't there and nothing changed apart from the bridge. I have read the troubleshooting readme of this re

[2022-07-26 13:43] Interpause commented on #5
I discovered functionality for conversion to and between Python dictionaries (& consequently JSON) seem to be present in [rosidl_runtime_py](https://github.com/ros2/rosidl_runtime_py):

https://github.com/ros2/rosidl_runtime_py/blob/1979f566c3b446ddbc5c3fb6896e1f03ccbc6a27/rosidl_runtime_py/set_message.py#L28-L37

https://github.com/ros2/rosidl_runtime_py/blob/1979f566c3b446ddbc5c3fb6896e1f03ccbc6

[2022-07-26 15:19] parsha opened #767 "String Escaping for single and double qoute on Noetic"
**Description**
I am using ROSsharp in Unity to communicate with rosbridge through Websocket to send JSON string messages, like "{\"key\" : \"value\"}.
But on the ROS side, when I echo my topic, I recieve data: "{\\\u0022key\\\u0022 : \\\u0022value\\\u0022}"
it is interesting that I only have this problem with rosbridge on noetic. I also tested my implementation on melodic and it works without any

[2022-07-27 01:45] zflat commented on #766
It still seems like your python path does not know about your custom messages package. Can you try this?
* Get a python interactive session with this: `python3`
* Inside the interactive session run:
[code]
  * Substitute the real name of your package

If the above works, then maybe you can share the "type" argument that is being used by the client code for calling the service. Maybe the type argum

[2022-07-28 06:43] Interpause commented on #538
Bump, having same issue as well. Might be related to https://stackoverflow.com/questions/59880989/ssl-certificate-unknown-error-when-connecting-to-http-tornado-server.

[2022-07-28 13:04] parsha commented on #767
Update: So far I figured out, it is a problem in ROSsharp ... and not a problem from rosbrdige!

[2022-07-28 13:15] vusdo commented on #750
please help me

[2022-08-01 15:07] naxsm opened #768 "rosbridge_library.internal.message_conversion.configure never called with a node handle."
The `rosbridge_library.internal.message_conversion.configure` function takes a `node_handle` parameter to choose the right `binary_encoder`, but it never gets called with that parameter.

**Context**

I'm using rosbridge_suite with ROSIntegration over TCP to visualize ROS messages in Unreal, using `bson_only_mode:=True`. The current code sets `binary_encoder=standard_b64encode` instead of `bson.Bi

[2022-08-01 16:31] johncarl81 opened #769 "Rosbridge blocks subscriptions to a topic if it subscribes before the subscription is available."
**Description**

When I start rosbridge and subscribe to a topic before the topic is available I receive the following error:
[code]
and subsequent attempts to connect via rosbridge to the given topic don't return anything.

- Library Version: 1.2.0-1focal.20220520.222649
- ROS Version: galactic
- Platform / OS: Docker - Ubuntu 20.04

**Steps To Reproduce**
1. Startup ros
[code]
2. Startup rosbrid

[2022-08-01 19:47] #767 closed, assigned to nobody

[2022-08-02 21:08] Moise2901 commented on #766
Sorry for the delay, I hadn't had access to our setup until today. I did what you suggested and the problem is now gone, the issue was that I wasn't sourcing the correct workspace, thanks for giving me the head's up @zflat ! The issue can be closed now :)

[2022-08-02 21:08] #766 closed, assigned to nobody

[2022-08-03 00:51] obi-t4 opened #772 "CPU & Memory usage increases over time."
**Description**

CPU & Memory usage increases over time.

- Library Version:
  installed with apt
  `ros-galactic-rosbridge-suite/focal,now 1.2.0-1focal.20220520.223734 amd64 [installed]`
- ROS Version:
  galactic
- Platform / OS:
  Ubuntu20.04

**Steps To Reproduce**

1. `ros2 run demo_nodes_cpp add_two_ints_server`
   https://github.com/ros2/demos is used.
1. `ros2 run rosbridge_server rosbridge

[2022-08-03 05:57] obi-t4 commented on #772
CPU usage increases up to 85%.
I found that memory usage is also increasing.
At the beginning RES(=Resident) is 400MB, but after 7 hours is 5GB.
![Screenshot from 2022-08-03 14-51-14](https://user-images.githubusercontent.com/58019445/182534505-e5634122-83ef-4fa0-830c-10b10a2b7579.png)

[2022-08-08 19:28] Akumar201 commented on #484
Hello , I ma using ROS neotic on my system. Using the following commands(basically installing the pakages that is not found one by one) helped me solving my error
1. pip install twisted
2.  pip install autobah
3.  pip install pymongo (bson didn't worked for me )

[2022-08-09 14:45] Interpause commented on #610
To add on, Foxglove uses `cbor-raw`, which makes it quite difficult for me to code my own dashboard alongside it because of this issue. I have no idea where to even begin decoding `cbor-raw`.

[2022-08-11 13:56] an99990 opened #775 "Exception calling subscribe callback: 'bytearray' object has no attribute 'get'"
**Description**
Sending PointCloud2 message and trying to visualize it in FoxeGlove but keep getting rosbridge error message

`[rosbridge_websocket-1] [ERROR] [1660225884.363841657] [rosbridge_websocket]: Exception calling subscribe callback: 'bytearray' object has no attribute 'get`

ROS Version (echo $ROS_DISTRO): Ros2 Galactic
OS Version (grep DISTRIB_CODENAME /etc/lsb-release): Focal

**Steps

[2022-08-16 18:51] #764 closed, assigned to nobody

[2022-08-20 11:39] awischnewski opened #778 "Bridge fails to forward data correctly to foxglove on humble"
**Description**
There seems to be an issue with the websocket used as an interface to foxglove in the humble package of `rosbridge-suite`. It does not subscribe to topics and therefore does not display the topics in foxglove.

- Library Version: 1.2.0-1jammy.20220808.155558
- ROS Version: humble
- Platform / OS: docker container based on Ubuntu 22.04 running on Ubuntu 20.04

**Steps To Reproduce**

[2022-08-20 20:33] jtbandes commented on #778
Can you share the containers?

[2022-08-22 17:35] awischnewski commented on #778
I have just tested with the publically available images (https://hub.docker.com/_/ros/) `ros:galactic` and `ros:humble` and they show the same behavior. I could share the rosbag privately as well if thats required.

Not sure at the moment, whether this is an issue with the bridge or rosbag itself as I have experienced another strange topic discovery issue with rosbag on humble today in a context w

[2022-08-24 17:46] msmcconnell commented on #756
I saw this as well, and the root cause seemed to be component containers. These show up as nodes on the ros network, but don't have parameter services like regular nodes since the loaded components have that responsibility.

At the moment, I'm not sure of what the best fix is. On my own fork I'm simply going to bypass the check which generates the exception.

[2022-08-26 12:39] robpinillos opened #779 "Exception calling subscribe callback in ros2 galactic"
I am trying to run ros2djs sample to display a map on a html page. However when the open the html page rosbridge_server says

[ERROR] [1648211787.790774020] [rosbridge_websocket]: Exception calling subscribe callback: a bytes-like object is required, not 'str'

- ROS Version: ros2 galactic
- Platform / OS: Ubuntu 20.04

[2022-08-29 21:44] jtbandes commented on #779
This ticket doesn't have enough information, can you provide steps to reproduce and/or the code you used?

[2022-09-01 01:57] johncarl81 commented on #769
I believe the source of this is this PR: https://github.com/RobotWebTools/rosbridge_suite/pull/690
Specifically this line: https://github.com/RobotWebTools/rosbridge_suite/blob/b4b996b77d0b63548a2cd4a435604472c7d8932c/rosbridge_library/src/rosbridge_library/internal/subscribers.py#L114
Where we assume the default reliability policy is `RELIABLE`

[2022-09-04 01:25] ssnover opened #782 "Allow cbor-raw compression/encoding when clients publish to the rosbridge server"
Both the ros1 and ros2 protocol specifications define a means for transporting messages encoded as `cbor-raw`. This appears to currently be used to allow subscribers to request that the rosbridge server send them data encoded in this format. However, there is no means for a publisher to encode data in this format.

My request here is to expand the specification to add an optional parameter to `adv

[2022-09-06 19:40] apoorvcn47 opened #783 "Multiple webpage refresh crashes Rosbridge server"
**Description**
I have installed debian package of rosbridge suite for ROS2 Foxy. It runs fine but if i keep refreshing my webpage, it eventually crashes rosbridge server. In the troubleshoot document it mentions that tornado version mismatch can cause a few problems. Where to check which tornado version goes along with Rosbridge 1.2? Since I have used apt-get install to install the package, I don

[2022-09-06 22:10] AltinayGrass opened #784 "double array"
Hello,

I am getting below error but in rqt everything looks fine. Is it bug ?

`[ERROR] [1662500907.234621770] [rosbridge_websocket]: [Client d6d0ddef-ca19-4008-a300-77fc29d3a694] [id: publish:/servo_node/delta_joint_cmds:607] publish: The 'velocities' field must be a set or sequence and each value of type 'float' and each double in [-17976931348623157081452742373170435679807056752584499659891747

[2022-09-07 10:38] AltinayGrass commented on #784
Sorry for the false alarm. I checked servo_node source. The alarm is not only specific for double values. It is also combination of some missing parameters.

[2022-09-09 21:00] zflat commented on #783
@apoorvcn47 Could you try the branch in https://github.com/RobotWebTools/rosbridge_suite/pull/741? When you refresh it may be the same issue I have seen in https://github.com/RobotWebTools/rosbridge_suite/issues/744.

[2022-09-10 17:23] apoorvcn47 commented on #783
@zflat This branch is definitely more stable. I have to refresh my webpage really fast to make it crash. It does crash if refreshed fairly quickly numerous times but the crashing frequency is way lower than what it was before.

[2022-09-16 21:10] rubenanapu commented on #762
On ros (ros1), there was a similar problem when running rosbridge inside a docker container in which the port of the host was different from the port of the docker container.

In that case, it was enough to pass the **_websocket_external_port_** parameter, as explained in the link below.

https://github.com/RobotWebTools/rosbridge_suite/issues/529#issuecomment-713857597

However, for ROS2, the cod

[2022-09-20 14:53] lroop commented on #772
I also observe this issue, and see it slow down other ROS nodes in my system.

[2022-09-22 15:05] zflat commented on #783
Hi @apoorvcn47 It is unfortunate that you are still seeing the crash. I wonder if there are any other additional issues. The log that you posted does not have a stack trace. Maybe you could try to run the bridge manually using `ros2 run ...` instead of from a launch? Then when it crashes see if you get a stacktrace in the terminal?

[2022-09-26 21:48] swhart115 opened #790 "Calling the /rosapi/topics services on galactic crashes the bridge"
**Description**
Hi, I am trying to call the **/rosapi/topics** service from my javascript, and whenever i do, the rosbridge crashes.

- ROS Version: galactic
- Platform / OS: Ubuntu 20.04

**Steps To Reproduce**
Here is my Java:

**Actual Behavior**
Note, i seem to get the response back, as i see this in the console output:

but i get the following error on the command line and have to restart the

[2022-09-28 12:20] kledom opened #791 "InvalidServiceException: Service /rosapi/topics_and_raw_types does not exist (Docker + Fast-DDS Discovery Server)"
**Description**

I'm running ROS2 humble using [Fast-DDS discovery Server](https://docs.ros.org/en/humble/Tutorials/Advanced/Discovery-Server/Discovery-Server.html). This is necessary because I want to deploy ROS over a VPN that does not support multicast. To make things even more complicated, I would also like to use docker-compose.

I have a docker-compose file as a template that I am absolutely

[2022-09-29 12:51] kledom commented on #791
Here is another, simpler way to reproduce the error.

**Steps To Reproduce**

Run the following lines in 4 different terminals:

Terminal 1
[code]

[code]

Terminal 2
[code]

[code]
Terminal 3
[code]

[code]

Terminal 4
[code]

[code]

Connect a rosbridge client (e.g. [Foxglove Studio](https://foxglove.dev/)).

**Result:**
[code]

The problem is probably that rosapi services are missing from `node

[2022-10-03 21:03] achim-k commented on #744
Has someone attempted a port already? Otherwise I will probably take this up

[2022-10-03 21:43] zflat commented on #744
I don't know of any recent attempt. Maybe @jtbandes or another maintainer would know otherwise?

[2022-10-04 15:42] achim-k opened #795 "Fix CI failures"
**Description**
CI is currently failing for both `ros1` and `ros2` branches. The underlying issue got fixed by https://github.com/ros-tooling/setup-ros/pull/516, but we should wait for the patch to be relased and then update the action. This issue keeps track of doing so.

[2022-10-04 18:18] #795 closed, assigned to achim-k

[2022-10-05 15:01] MrBlenny commented on #744
I've done some testing of the branch on #741 (with galactic and Fast-DDS) and it seems to make things MUUUCH more reliable. Unfortunately with enough very fast refreshing of clients it occurs again (it usually takes me about 30s of very fast refreshing to trigger it).

The server then throws the following error on each message it tries to send.

[code]
Interestingly I have not yet seen the server

[2022-10-05 15:18] achim-k commented on #744
I think it makes sense to get #741 in first, before trying to migrate to autobahn. I will look into that

[2022-10-07 15:10] achim-k commented on #736
Fixed by #780

[2022-10-07 15:10] #736 closed, assigned to nobody

[2022-10-07 16:01] achim-k commented on #791
This is not a rosbridge issue but a ros2 node / service discovery issue. https://github.com/ros2/rmw_fastrtps/issues/639 seems the correct place to file this issue, I will close this one.

[2022-10-07 16:01] #791 closed, assigned to nobody

[2022-10-07 16:16] achim-k commented on #790
I could not reproduce this on `humble` with the simple javascript snippet below.

[code]

returns
[code]

Could you try that snippet yourself? Do you have some weird topic names that might cause that error?

[2022-10-07 16:20] achim-k commented on #784
@AltinayGrass looks like this issue was due to wrong usage of the publish operation (incorrect payload?). Will close this issue, feel free to re-open.

[2022-10-07 16:20] #784 closed, assigned to nobody

[2022-10-07 16:28] achim-k commented on #778
I will close this issue then

[2022-10-07 16:28] #778 closed, assigned to nobody

[2022-10-07 16:36] achim-k commented on #765
Are you sure that this is not an issue on the client side (your website)? E.g. it might be that you continuously add elements to the DOM which are not cleaned up properly.

[2022-10-11 16:58] achim-k commented on #705
@jim1949 is this issue still relevant? Could you provide more information e.g. how to reproduce this issue?

[2022-10-11 17:50] swhart115 commented on #790
Thanks @achim-k for your response.  I tried the above on my galactic setup, but still no luck.  I think it was basically the same as what i had been running, though i had been setting the ros object as a class variable.

In any case, i did some more digging based on your suggestion that it might be something to do with my specific topics/msgs.  This helped, as the culprit seems to be a custom mess

[2022-10-11 19:09] achim-k commented on #790
It would be good if you could provide detailed instructions on how to reproduce this issue. I assume, that you already see the error when calling `ros2 service call /rosapi/topics rosapi_msgs/srv/Topics`?

Can you figure out which topic is responsible for the crash? Could you provide the message files?

[2022-10-11 22:18] swhart115 commented on #790
I can try to extract runnable code chunks to reproduce, but in the meantime, here is how to set it up:

1. Define a message with one or more `uint8[]` fields, like my example above.
2. Create and run a ROS2 node that publishes or subscribes to this message type. (My original code has a subscriber to the message type in question, but nothing is being published on the topic so I don't think it matte

[2022-10-12 07:57] hcdiekmann opened #807 "Unable to install from deb"
**Description**
When trying to install from debian the package cannot be found. Tried running apt-get update already.

- Library Version:
- ROS Version:
- Platform / OS: Ubuntu 20.04.5 LTS

**Steps To Reproduce**

sudo apt-get install ros-noetic-rosbridge-server

**Expected Behavior**

**Actual Behavior**
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: U

[2022-10-12 09:42] #807 closed, assigned to nobody

[2022-10-12 10:01] hcdiekmann opened #808 "RTPS Error and InvalidServiceException"
**Description**
When launching the rosbridge server I get several RTPS_TRANSPORT_SHM Errors.

- Library Version:
- ROS Version: foxy
- Platform / OS: Ubuntu 20.04

**Steps To Reproduce**
ros2 launch rosbridge_server rosbridge_websocket_launch.xml

**Expected Behavior**
Server starting on port 9090

**Actual Behavior**
![image](https://user-images.githubusercontent.com/13176191/195332792-a3ad49ed-7

[2022-10-12 19:24] swhart115 commented on #790
Okay, i wrote a very simple python node that sets up a publisher for an `Int8MultiArray` (it doesnt even actually publish anything on it).  i picked that cause it has an array of primitives in it, which is similar to what i was seeing with my custom packages and applications.

Here is my node code:
[code]

I then run the rosbridge:
`ros2 launch rosbridge_server rosbridge_websocket_launch.xml`

and

[2022-10-13 13:18] hardesh-peppermint opened #810 "Adding namespace in the launch file is not working as expected"
**Description**
Adding a namespace does not work with rosapi node.

- Library Version: Latest
- ROS Version: Humble
- Platform / OS: Ubuntu 22

**Steps To Reproduce**
Add a namespace while launching the rosapi node using

**Expected Behavior**
Everything including nodes, topics, services should be inside that namespace.

**Actual Behavior**
At the moment, only the nodes and some of the services ar

[2022-10-14 09:48] ribes4 opened #811 "An argument is missing in the 'outgoing' function of the class Protocol."
**Description**
In ROS1 in version 0.11.15 a bug has been introduced. I was working with rosbridge via TCP and I got the following traceback in the terminal:

    Traceback (most recent call last):
      File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_inner
        self.run()
      File "/opt/ros/noetic/lib/python3/dist-packages/rosbridge_library/internal/services.py", line 78, in

[2022-10-14 12:39] achim-k commented on #811
@ribes4 thanks for reporting! I will look into this. Seems we only have unit tests for websocket connections in place. I will see if I can add some for tcp / udp

[2022-10-17 17:43] #758 closed, assigned to nobody

[2022-10-17 17:43] #783 closed, assigned to nobody

[2022-10-17 20:29] achim-k commented on #811
@ribes4 could you confirm that #812 fixes the issue? I tested it locally but it would be great if you could test it as well. I didn't add a unit test as it seemed to much work and on ros2 rosbridge_server does not provide UDP/TCP support anymore.

Will create a new release, which should land in noetic with the next sync [expected to be early november](https://discourse.ros.org/t/noetic-sync-before

[2022-10-17 20:54] achim-k commented on #810
You are right, it should be possible to launch the rosapi / rosbridge_server nodes in a different namespace. The problem is however, that many websocket clients assume that the `rosapi` node is under the global namespace. For roslibjs this is the case in the following places: https://github.com/RobotWebTools/roslibjs/search?q=%2Frosapi

Feel free to submit a PR that removes the leading `/` for all

[2022-10-18 03:48] hardesh-peppermint commented on #810
Okay, thanks. I'll open up a PR. Will this be merged into humble branch?

[2022-10-18 06:41] ribes4 commented on #811
@achim-k Tested and works correctly in a TCP transmission. Thanks for the quick response.

[2022-10-18 10:25] hardesh-peppermint commented on #810
Hi,
I've opened a new PR. Is it necessary to open a new PR in roslibjs?
If the user is not using any namespace while launching the nodes, then by default the nodes should go into global namespace. So it won't be an issue I think

[2022-10-18 12:42] achim-k commented on #811
Thanks for confirming!

[2022-10-18 12:42] #811 closed, assigned to achim-k

[2022-10-18 14:04] achim-k commented on #547
Reopening the issue as it is still present.

`cbor-raw` requires the internal `rospy.Subscriber` to subscribe to the topic with the generic [AnyMsg](http://docs.ros.org/en/melodic/api/rospy/html/rospy.msg.AnyMsg-class.html) as the message type. All other compressions require the specific message type, so depending on which message type was used to subscribe, the other compressions might not work f

[2022-10-18 14:13] achim-k commented on #810
Yes, but if the user would choose a different namespace, `roslibjs` wouldn't work anymore. We should make sure that it still works and that it is compatible with the current global namespace approach.

What client are you using? And how did you test that your feature works as expected?

[2022-10-18 14:33] hardesh-peppermint commented on #810
Hi @achim-k ,
The default launch file provided in the rosbridge_server package does not have a namespace argument. So I think there won't be a direct breaking change for regular users of this library, as the topics will directly go into the global namespace.

I just checked by launching my modified launch file to see if the rosapi services are going into different namespace which is happening as e

[2022-10-19 03:44] CrawlerWheel opened #818 "Unable To Import Custom Msg From Custom Package"
**Description**
Hi, Authors.I define a custom message. As shown in the figure, I can get the message structure in ros, after modify the env var.
![image](https://user-images.githubusercontent.com/98396524/196587630-19d85d9d-8f0b-4707-962a-a531c1792da3.png)
But,when I use distant js program in Windows to subscribe rostopic `opencv_test/TargetArray` via rosbridge in Ubuntu, rosbridge alert:
![image]

[2022-10-19 14:04] achim-k commented on #818
Is the ROS environment loaded (usually via `source devel/setup.bash`) in the terminal in which you launch `rosbridge_server`?

If it's loaded, can you confirm that the following succeeds:
[code]

[2022-10-20 02:09] CrawlerWheel commented on #818
Yes，I loaded, I have added `export ROS_PACKAGE_PATH=${ROS_PACKAGE_PATH}:/home/wheeltec/vins_ws/src` to .bashrc. And command `rosmsg show opencv_test/TargetArray` can return the message structure successfully.
![image](https://user-images.githubusercontent.com/98396524/196836242-258f7736-5369-40da-b99b-49addc57c8da.png)
![image](https://user-images.githubusercontent.com/98396524/196836941-dc3c5795-

[2022-10-20 02:45] CrawlerWheel commented on #818
I restart the entire program just now，and js program can receive and parse message from this topic successfully.
I just suspended ubuntu in VM and turned off the Windows without any modification at night yesterday.
It`s so strange! But everything is ok now! Thank you！

[2022-10-21 16:42] achim-k commented on #818
OK good to know it's working now. Closing this issue then.

[2022-10-21 16:42] #818 closed, assigned to nobody

[2022-10-21 20:04] achim-k commented on #790
I failed to reproduce your issue. Which rosbridge version / commit are you using?

[2022-10-23 23:12] odorikakeru opened #820 "server fails over time (2~3 hours): "RuntimeError: dictionary changed size during iteration""
**Description**

- Library Version:
- ROS Version: ROS2 foxy (similar result observed on noetic, but data not available, will attempt to reproduce in future)
- Platform / OS: Ubuntu 20.04 (based on Docker image ros:foxy)

**Steps To Reproduce**
- Build Docker image using following Dockerfile
[code]
  - `launcher.sh`:
[code]

- Subscribe to `/rosout` topic through roslibpy (other libraries not test

[2022-10-24 13:37] achim-k commented on #820
Hi @odorikakeru, which version are you on (commit hash)? It seems that you are not on the latest version which should have a fix for that (added in #803)

It would be good if you could reproduce the issue, as the `noetic` version does not include #803

[2022-10-24 14:57] odorikakeru commented on #820
Thank you for pointing me to #803 , I will try rebuilding the image and see if the problem is fixed.
This was with commit 1bc9c68e

As for noetic, I have been unsuccessful at consistently reproducing the problem. I had assumed it was related as the observed symptoms are similar (after a set amount of time calls from the client side time out, rectified by restarting the server), however no error me

[2022-10-28 18:50] pfarinha91 opened #821 "AttributeError: 'float' object has no attribute 'get_fields_and_field_types'"
**Description**

Publishing shape_msgs/msg/SolidPrimitive messages through the rosbridge websocket (subscribing with roslibjs) gives a `'float' object has no attribute 'get_fields_and_field_types'`.

The error is on the dimensions attribute of the SolidPrimitive, a list of float64, but I can't understand why.

- Library Version: Installed with apt: ros-humble-rosbridge-server (1.3.0-1jammy.2022090

[2022-10-31 16:45] #772 closed, assigned to nobody

[2022-11-03 17:09] zaher88abd commented on #810
Hello @hardesh-peppermint
I just read your are using Rosbridge_server with Dart, I believe it's a Flutter app. Please, may you explain more about your project? like how you did the communication between Ros2 and Flutter by Rosbridge?.
I have idea about project for connect robot with Futter app.

[2022-11-04 05:27] hardesh-peppermint commented on #810
Hi @zaher88abd,
I've just created some websocket connections in my flutter app that directly connects with the rosbridge server. The protocol is mentioned in the design docs of this repo. You can also refer to the implementation of websocket client protocols in roslibjs or the rust client. I had referred to the rust client library

[2022-11-04 14:23] zaher88abd commented on #810
Thanks @hardesh-peppermint

[2022-11-08 04:37] zhxsxuan opened #822 "AttributeError: 'float' object has no attribute '__module__'."
**Description**

- Library Version: rosbridge_suite: 1.3.1-1jammy.20221024.133759 amd64
- ROS Version: humble
- Platform / OS: Ubuntu 22.04.1

**Steps To Reproduce**

* start a turtlesim node and rosbridge_server
* send the following request to rosbridge_server via websocket api
[code]

**Expected Behavior**

**Actual Behavior**
[rosapi_node-2] Traceback (most recent call last):
[rosapi_node-2]

[2022-11-16 20:51] bartslinger opened #825 "Service calls on same websocket are executed sequentially, not simultaneously"
On a single websocket connection, service calls are executed in sequence. I expect service calls on the same websocket connection to run simultaneously.

I'm not 100% sure if this is a bug or a feature. I found this comment here ["Run service caller in the same thread."](https://github.com/RobotWebTools/rosbridge_suite/blob/7af3683ec6a02b1569d7e3c42367721b0be2ac78/rosbridge_library/src/rosbridge_l

[2022-11-17 10:22] kledom commented on #791
For all others who have this problem: To use the rosbridge_uite with the Fast DDS Discovery Server, the SUPER_CLIENT discovery protocol must be activated in the DDS config file before `ros2 launch rosbridge_server rosbridge_websocket_launch.xml`:

[code]

@achim-k  I don't know if this is relevant enough to include in the documentation?

[2022-11-18 02:29] weifeng-lt commented on #811
The function `outgoing` in line 229 still has only one argument while line 269/271/277 still call `outgoing` with two arguments. The bug has not been fixed !

[2022-11-18 12:07] ribes4 opened #826 "No tag 0.11.16 on branch ros1"
I just noticed that the tag [0.11.16](https://github.com/RobotWebTools/rosbridge_suite/tree/0.11.16) does not point to any commit of the [ros1](https://github.com/RobotWebTools/rosbridge_suite/tree/ros1) branch.

![image](https://user-images.githubusercontent.com/22292439/202700466-6f176ee7-3c3f-44f3-939d-05fd6d231b93.png)
![image](https://user-images.githubusercontent.com/22292439/202701518-b212d

[2022-11-18 17:51] achim-k commented on #811
@weifeng-lt could you provide some [permanent links](https://docs.github.com/en/repositories/working-with-files/using-files/getting-permanent-links-to-files) to the mentioned lines of code?

[2022-11-18 17:55] achim-k commented on #826
Thanks for noticing. I have updated the tag, could you confirm and then close this issue? Thanks!

[2022-11-18 17:58] achim-k commented on #791
I don't think so, it seems very specific. But thanks for posting the solution here, might help others with the same problem.

[2022-11-21 07:53] #826 closed, assigned to nobody

[2022-11-24 14:06] Roboprotos commented on #738
Hello, I have the exact same error with the following configuration :
- Ubuntu 20.04 running on a Jetson Xavier (I'm not using docker)
- ROS2 Galactic installed from binary
- rosbridge_suite installed with : `sudo apt install ros-galactic-rosbridge-suite`

However doing `sudo apt update` and `sudo apt dist-upgrade` doesn't solve the issue.
I have a similar issues of ImportError and undefined symbo